<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<a rel="me" href="https://hachyderm.io/@benmatheja"></a>
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
       {% if page.tags %}
        <span>[
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }}</nobr></code>&nbsp;</a>
        {% endfor %}
      ]</span>
      {% endif %}
      </div>
    </main>
    
    {%- include footer.html -%}

  </body>

</html>